@media only screen and (max-width: 768px) {
    
    html {
        padding: 0;
        margin: 0;
    }
    
    body {
        margin: 0;
        padding: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%, 100%;
        font-family: 'Montserrat', sans-serif;
        background-color: #ffffff;
    }
    
    
     ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-right: 0%;
        margin-left:17%;
        
    }
    li {
        float: left;
        padding: 1.4%;
        margin-right: 2%;
        text-decoration: none;
        letter-spacing: 1px;
        
    }
    .lista {
        display: block;
        text-decoration: none;
        color: #000000;
        line-height: 19px;
    }
    
    
    a {
        
        font-size: 13px;
    }
    
    .hidden4 {
        display: none;
    }
    
    .logoresponsive {
        
        width: 60%;
        margin-top: 5%;
        margin-left: 7.5%;
    }
    
    .projektsize {
        
       width: 85%;
       height: 85%;
       margin-left: 7.5%;
    
    }
    
    h2 {
        
        font-size: 15px;
        margin-left: 7.5%;
        
    }
    
    .prospacing {
        
        margin-bottom: 15%;
    }
    
    /* burgermenu */
    .container {
    display: inline-block;
    cursor: pointer;
    float: right; 
    margin-right: 8%;
    margin-top: -11%;    
}

.bar1, .bar2, .bar3 {

    width: 25px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-2px, -2px);
    transform: rotate(-45deg) translate(-10px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-4px, -2px);
}
    
    h1 {
        
        font-size: 15px;
        text-align: center;
        margin-top: 7%;
        margin-bottom: 7%;
    }  
    
        ul li.active>a {
        color: #000000;
        border-bottom: solid 2px #000000;
        margin-top: 0px;
        padding: 0;
    }
    

   
}






@media only screen and (min-width: 992px) {
    html {
        padding: 0;
        margin: 0;
    }
    body {
        margin: 0;
        padding: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%, 100%;
        font-family: 'Montserrat', sans-serif;
        background-color: #ffffff;
       
    }
    .bodybg {
        background-image: url(../images/endelig.jpg);
    }
    /* MENU / NAVIGATION STARTER (sort) */
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-right: 1%;
    }
    li {
        float: right;
        padding: 1.4%;
        text-decoration: none;
        letter-spacing: 1px;
    }
    .lista {
        display: block;
        text-decoration: none;
        color: #000000;
        line-height: 19px;
    }
    /* LINJE UNDER MENU PUNKTER */
    li a:after {
        display: block;
        content: '';
        border-bottom: solid 2px #000000;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
        margin-bottom: -2px;
    }
    li a:hover:after {
        transform: scaleX(1);
        color: black;
    }
    ul li.active>a {
        color: #000000;
        border-bottom: solid 2px #000000;
        margin-top: 0px;
        padding: 0;
    }
    /* LINJE UNDER MENUPUNKTER SLUT */
    .navigation {
        margin-right: 0.7%;
        margin-top: -3.5%;
    }
    .logo {
        margin-top: 2%;
        margin-left: 2.5%;
    }
    section {
        height: 200vh;
    }
    div.gallery {
        float: left;
        width: 22vw;
        margin: 2%;
        margin-right: 4%;
    }
    div.gallery:hover {}
    div.gallery img {
        width: 22vw;
        height: 30vh;
    }
    div.desc {
        padding-top: 0px;
        text-align: justify;
    }
    .divomarg {
        margin-top: 9%;
        margin-left: 9.7%;
    }
    h2 {
        font-size: 16px;
        margin-top: 1.7%;
    }
    .selection {
        margin-bottom: -7%;
        margin-left: -5%;
    }
    select option:after {
        display: block;
        content: '';
        border-bottom: solid 2px #000000;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
        margin-bottom: -2px;
        cursor: pointer;
    }
    select option:hover:after {
        transform: scaleX(1);
        color: black;
        cursor: pointer;
    }
    .selectfont {
        font-size: 10px;
        font-family: 'Montserrat', sans-serif;
    }
    /* selectmenu projekter */
    .selectpos {
        float: left;
        padding: 0;
        padding-right: 2%;
    }
    .ulpos {
        margin-left: 34.5%;
        padding-bottom: 2%;
        margin-top: 12%;
    }
    .hidden {
        display: none;
    }
    
    .hidden5 {
        
        display: none;
    }
    
    /* CSS PROFIL */
	
	.size {
		height: 50%;
	}
    
    .hfont {
        
        font-size: 16px;
    
    }
    
    .textplace
    {
        float: right;
        margin-right: 1%;
        text-align: justify;
        width: 25%;
        margin-top: 13%;
        
    }
    
    .profiltek {
        
        line-height: 35px;
        font-size: 14px;
        letter-spacing: 1px;
    }
    
    .johnw {
        float: left;
		margin-top: 13%;
		margin-right: 1%;
		width: 1px;
    	height: 0px;
    	display: inline-block;
		position: absolute;
    }
	
  .footer {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
    height: 25%;  
   background-color: #454545;
   color: white;
   text-align: center;
      margin-bottom: -50.7%;
     
     
}
    
    .copy{
        
       margin-bottom: -100%;
        margin-right: 19%
       
    }
    
    hr {
        
        width: 92%;
    }
        
    .aabning {
        
        float: left;
        margin-left: 6%;
        text-align: left;
        line-height: 25px;
        font-size: 13px;
        white-space: pre;
        margin-top: 1%; 
    }

    
    .footis {
        
        margin-bottom: -10%;
    }
    
    .footpic {
        margin-top: 3%;
        margin-right: 6%;
        float: right;
    }
    
    .footprojekt{
        
        margin-bottom: -23%;
    }
    
    .footmed {
        
        margin-top: 2%;
        margin-right: 11%;
    }
    
    .footpic2{
        
        margin-right: -10%;
        margin-top: 5%;
    }
    
   

/* KONTAKTSIDE - grid */

#kontakt {
	font-size: 15px;
	margin-left: 5%;
	
}

.grid {
	margin-top: 10%;
	bottom: 0;
}

#kontakt {
	font-size: 20px;
	margin-left: 6%;
	
}

.grid-container {
	grid-gap: 5%;
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-columns: auto auto auto;
  justify-content: center;
	padding: 5px;
	
}
.grid-item {
  font-size: 30px;
  text-align: center;
	margin-left: 5%;
	margin-right: 10%;
	padding: 0;
	
}
	
	.portraet {
		width: 80%;
	}

.navn {
	font-size: 15px;
	text-align: left;
	margin-left: 15%;

}

.stilling {
	font-size: 12px;
	text-align: left;
	margin-left: 15%;
}

.mail {
	font-size: 12px;
	text-align: left;
	margin-left: 15%;
}

.tlf {
	font-size: 12px;
	text-align: left;
	margin-left: 15%;
}

.findos {
	margin-top: 10%;
}


#find {
	margin-left: 6%;
	float: left;
	line-height: 20pt;
	font-size: 15px;
}

#map {
	position: absolute;
	top: 100px;
	bottom: 200px;
	width: 50%;
	margin-left: 45%;
	
	}
		
.blaa {
	color: #91ACC3;
}
	